//Gestion de la page Home

.home-container {
  display: flex;
  height: 100%;
  width: 100%;

  p {
    color: var(--dark-blue) !important;
    font-size: 29px !important;
  }

  h1 {
    color: var(--accent-color) !important;
  }
}

.container-btn {
  display: flex;
  justify-content: flex-end;
}

.home-btn {
  cursor: pointer;
  width: 150px;
  display: inline-block;
  font-weight: 400;
  color: var(--dark-blue);
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: var(--accent-color);
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  margin: 4px 2px;

  &:hover {
    background-color: white;
  }
}

.home-left {
  background-color: var(--grey-color-cust);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .left-cont {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
}

.home-right {
  background-color: var(--primary-color-cust-80);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .right-cont {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
}

@media (max-width: 724px) {
  .home-container {
    flex-direction: column;
  }

  .home-left,
  .home-right {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
  }
}

//Gestion de la page Services
.container-services {
  .title-cust {
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }

  h2 {
    color: var(--accent-color);
  }

  p {
    color: var(--dark-blue) !important;
  }
}
