{% extends 'base.html.twig' %}

{% block title %}Save My store - Welcome{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{{ asset('scss/home.min.css') }}">
{% endblock %}

{% block body %}

<h1>Not always easy to make a choice?</h1>



{% endblock %}
